body {
    background-color: #f8f8f8;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0;
}

.home-container {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
}

.cross-container {
    flex: 1;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
}

.cross {
    cursor: pointer;
    font-size: 80px;
    transform: rotateX(0);
    width: 100px;
    height: 100px;
    transition: transform .7s ease-in-out;
}

.cross:hover {
    transform: rotate(-45deg);
}


.text-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
    gap: 5px;
}

.infoText {
    font-size: 16px;
    margin: 0;
    font-family: Arial, Helvetica, sans-serif;
}